# Default ignored files
/shelf/
/workspace.xml

# Sensitive / machine-specific
/caches/
/libraries/
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/deploymentTargetSelector.xml
/deviceManager.xml
/appInsightsSettings.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml
